dependency-reduced-pom.xml

*target*
*node_modules*
*.jar
*.war
*.ear
*.class

# yarn
yarn.lock

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# STS (Spring Tool Suite)
.springBeans

#Clover
.clover/

# IntelliJ
.idea
*.iml

# VSCode
launch.json
settings.json
classpath-data.json

# yarn specific
**/src/main/frontend/dist/**

jmeter-repo